<component name="ArtifactManager">
  <artifact type="war" name="SpringMVCCRUDRestDemo:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>SpringMVCCRUDRestDemo</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="Spring4MVCCRUDRestService.war">
      <element id="artifact" artifact-name="SpringMVCCRUDRestDemo:war exploded" />
    </root>
  </artifact>
</component>